* {
  font-family: Monaco, sans-serif;
  --primary-color: #007bff;
  --secondary-color: #FF0000;
}

.App {
  margin-top: 20px;
  width: fit-content;
}

.commentContainer {
  margin-top: 6px;
  display: flex;
  padding: 5px 10px;
  width: 300px;
  cursor: pointer;
  border-radius: 5px;
}

.widget_container {
  display: flex;
}

.widget_heading {
  font-size: 22px;
  font-weight: 600;
}

.commentContainer:hover {
  background-color: #d3d3d3bf;
}

.inputContainer {
  display: flex;
  align-items: baseline;
  gap: 5px;
}

.inputContainer>span {
  margin-top: 5px;
}

.inputContainer__input {
  margin: 6px 0 0px 0;
  padding: 5px;
  display: flex;
  border: 1px solid lightgray;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  background-color: #e7e7e7;
}

.first_input {
  margin: 0;
}

.commentContainer>span {
  margin: 0 5px;
}

.reply {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.delete {
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  cursor: pointer;
  margin-left: 5px;
}

.comment {
  color: #ffffff;
  background-color: var(--primary-color);
  letter-spacing: 0.8px;
  height: 14px;
  margin: 1.6rem 0 0 1rem;
  border: none;
}